/*this is comment*/

.pappi ,#xx{
    height: 40px; width: 70px;
    color: white;
    background-color: black;
}
#uff{
    color: blueviolet;
    background-color: aqua;
}

h1{
    color: red;
    background-color:#ff26ff;
}
h2{
    color: aqua;
    background-color:rgb(86,55,22);
}